{% extends 'app/base.html' %}

{% block content %}
    <div style="margin-left:5%">
  <p style="font-size: 20px;font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif">Сброс пароля</p>
    <p>Забыли пароль? Введите адрес электронной почты,прикрпеленной к Вашему аккаунту,
        и мы вышлем инструкции по настройке нового пароля.</p>

  <form method="post">
  {% csrf_token %}
      <div style="width:30%">
          {% if form.errors %}<p style="color:red">Вы ввели несуществующий алрес электронной почты. Пожалуйста, попробуйте еще раз.</p>{% endif %}
          <p>Адрес электронной почты:</p>{{ form.email }}
      </div>
      <button type="submit" class = "btn btn-primary">Сбросить пароль</button>
  </form>
    </div>
{% endblock %}