{% extends 'app/base.html' %}

{% block content %}
  {% if validlink  %}
    <div style="margin-left:5%">
  <p style="font-size: 20px;font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif">Сброс пароля</p>
    <form method="post">
      {% csrf_token %}
        <p> Ваш новый пароль НЕ ДОЛЖЕН быть схож с Вашим именем пользователя.</p>
        <p>Ваш новый пароль ДОЛЖЕН содержать как минимум 8 симвлолов.</p>
        <p>Ваш новый пароль НЕ ДОЛЖЕН быть общеизвестным.</p>
        <p>Ваш новый пароль НЕ ДОЛЖЕН состоять только из цифр.</p>
        {% if form.errors %}
            <p style="color:red">Вы ввели некорректный новый пороль или Ваши пароли не совпадают. Пожалуйста, попробуйте еще раз.{{ form.errors }}</p>{% endif %}
    <div style="width:30%">
        <span>Новый пароль: {{ form.new_password1 }}</span>
        <span>Повторите пароль: {{ form.new_password2}}</span>
    </div>
      <button class="btn btn-primary" type="submit">Сменить пароль</button>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась.
      Пожалуйста, запросите новый пароль для сброса.
    </p>
    </div>
  {% endif %}
{% endblock %}