@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
* {
margin: 0;
padding: 0;
border: 0 none;
position: relative;
}
*, *:before, *:after { box-sizing: inherit; }
html{
  box-sizing: border-box;
  background: #fff;
  color: #e6eff0;
  min-height: 2000px;
}
html, body{
  font-size: 10.5pt;
  font-family: 'Trebuchet MS', 'Arial', 'Tahoma', 'Verdana', 'sans-serif';
}
.top-sitename {
   margin-left: 7px;
   margin-top: 50px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   text-decoration: none;
}
.top-sitename__logo {
    margin: 0 15px 0 0;
}
.top-sitename__title {
    margin-top: 30px;
    color: #22252d;
    width: 350px;
    font-size: 100%;
}
.title{
  color: #22252d;
  font-size: 150%;
  text-align: center;
  font-weight: normal;
}
.background-form{
  background-image: url(../images/background.jpg);
  background-size: 100%;
}
.my-form{
    margin: 80px 10px;/* сдвиг белого относительно изображения*/
    background: #fff;
    box-shadow: 0 0 25px -10px #000;
    z-index: 1;
    max-width: 98%;
}
.main-form {
    max-width: 100%;
    margin: 50 auto;
    padding: 0px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.form-check-input {
    font-weight: medium;
}